doctype html
html
    head
        title="Hermes Cluster Dashboard"
        link(rel='stylesheet' href='../css/overview.css')
        link(rel='stylesheet' href='../css/w3.css')
        meta(http-equiv="refresh" content="60")
    body
        div(class='errors ' + errors.display)
            h2()='Server error:'
            div()=errors.message
        h2() #{cluster.clusterName}
        .container
                each zone in cluster.zones
                    div(class='box')
                        ul(class='zone ' + zone.status)
                            p()=zone.name
                            div(class='flex-grid')
                                    each service in zone.services
                                        div(class='col')=service.name
                                            span(class="w3-badge w3-red anchor-bottom-right")=service.count
                        span(class="w3-badge w3-red anchor-bottom-right")=zone.count
        .footer
            | Last Updated:
            script(type='text/javascript').
                document.write(new Date().toTimeString());